.city-button{
    margin-top: 10px;
}

.input-group{
    flex-direction: column;
}

.iga{
    margin-top: 5px;
    
}
.btnS{
    background-color:rgb(91, 151, 230);
    
}


.card-color{
    background-color: rgb(26, 26, 65);
    color: white;
}